<section title="experience">
    <div class="container">
        <div class="row" *ngFor=" let exp of experience ">
            <div class=" b-rounded shadow-sm py-5 px-4 container-info">
                <div class="container-infoI">
                    <img 
                    [src]="(exp.img)" 
                    alt="logo-education" 
                    width="100"
                    class="img-fluid img-thumbnail shadow-sm" 
                    >
                    <span class="mb-0">
                        {{exp.nameCompany}}
                    </span>
                    <span class="small text-uppercase ">
                        {{exp.startDate}} - {{exp.endDate}}
                    </span>
                    <span class="small text-uppercase ">
                        {{exp.positionWork}}
                    </span>
                </div>
                <div class="contaiter-list">
                    <ul class="social mb-0 list-inline mt-3">
                        
                        <li class="list-inline-item" *ngFor="let task of exp.descriptionTasks">
                            <i class="bi bi-plus-square-fill"></i>
                            {{task}}
                        </li>
                    </ul>
                </div>

            </div>
        </div>


    </div>

</section>
