<section title="experience">
    <div class="container">
        <div class="row">
            <div class=" b-rounded shadow-sm py-5 px-4 container-info">
                <div class="container-infoI">
                    <img 
                    src="../../../assets/imags/logoHenry.png" 
                    alt="logo-education" 
                    width="100"
                    class="img-fluid img-thumbnail shadow-sm" 
                    >
                    <span class="mb-0">
                        Soy Henry
                    </span>
                    <span class="small text-uppercase ">
                        2021-2022
                    </span>
                    <span class="small text-uppercase ">
                        Full Stack Developer
                    </span>
                </div>
                <div class="contaiter-list">
                    <ul class="social mb-0 list-inline mt-3">
                        
                        <li class="list-inline-item">
                            <i class="bi bi-plus-square-fill"></i>
                            E1 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                        <li>
                            <i class="bi bi-plus-square-fill"></i>
                            E3 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                        <li>
                            <i class="bi bi-plus-square-fill"></i>
                            E4 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                        <li>
                            <i class="bi bi-plus-square-fill"></i>
                            E5 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" b-rounded shadow-sm py-5 px-4 container-info">
                <div class="container-infoI">
                    <img 
                    src="../../../assets/imags/logoHenry.png" 
                    alt="logo-education" 
                    width="100"
                    class="img-fluid img-thumbnail shadow-sm" 
                    >
                    <span class="mb-0">
                        Soy Henry
                    </span>
                    <span class="small text-uppercase ">
                        2021-2022
                    </span>
                    <span class="small text-uppercase ">
                        Full Stack Developer
                    </span>
                </div>
                <div class="contaiter-list">
                    <ul class="social mb-0 list-inline mt-3">
                        
                        <li class="list-inline-item">
                            <i class="bi bi-plus-square-fill"></i>
                            E1 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                        <li>
                            <i class="bi bi-plus-square-fill"></i>
                            E3 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                        <li>
                            <i class="bi bi-plus-square-fill"></i>
                            E4 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                        <li>
                            <i class="bi bi-plus-square-fill"></i>
                            E5 gfyuil,mnbgyuk ftyuil, cdrtyuioñ.,mnfdrtyu knbvdertyuik,mnb ikjbftyj
                        </li>
                    </ul>
                </div>

            </div>
        </div>


    </div>

</section>
