<section title="Projects" appScrollSection="projects">

  <div class="container-fluid container-card" id="Projects">
    <div class="row">
      <div class="col" *ngFor="let p of projects">
        <div class="card" style="width: 18rem;">
          <img [src]="(p.img)" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text">
                {{p.description}}
              </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span>
                Customer : 
                <span>
                  {{p.customer}}
                </span>
              </span>
            </li>
            <li class="list-group-item">
              <span>
                Technologies : {{p.technologies}}
              </span>

            </li>
            <li class="list-group-item">
              <span>
                Year : 
              </span>
              <span>
                {{p.year}}
              </span>
            </li>
          </ul>
          <div class="card-body container-link">
            <a [href]="(p.links.github)" class="card-link">
              <i class="bi bi-github"></i>
            </a>
            <a [href]="(p.links.youtube)" class="card-link">
              <i class="bi bi-youtube"></i>
            </a>
            <a [href]="(p.links.deployPage)" class="card-link">
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </div>
        </div>
      </div>

          
    </div>
  </div>
</section>