<section title="Aboutme" class="container-fluid my-5 px-5" appScrollSection="aboutme" >
    <!-- <h2>Aboutme</h2> -->
    <div class="row" >
      <div class="col-md-4">
        <img [src]="urlPhotoProfile" class="img-thumbnail"  height="400" width="600" alt="foto-perfil">
      </div>
      <div class="col my-auto mx-auto">
        <p class='lh-base text-center '>
          {{dataAbout}}
          <!-- Hola soy Facundo Jr.Developer 
          El oeste de Texas divide la frontera entre Mexico y Nuevo México.
          Es muy bella pero aspera, llena de cactus, en esta region se encuentran las Davis Mountains.
          Todo el terreno esta lleno de piedra caliza, torcidos arboles de mezquite y espinosos nopales.
          Para admirar la verdadera belleza desertica, visite el Parque Nacional de Big Bend, cerca de Brownsville.
          Es el lugar favorito para los excurcionistas, acampadores y entusiastas de las rocas.
          Pequeños pueblos y ranchos se encuentran a lo largo de las planicies y cañones de esta region. 
          El area solo tiene dos estaciones, tibia y realmente caliente. 
          La mejor epoca para visitarla es de Diciembre a Marzo cuando los dias son tibios, 
          las noches son frescas y florecen las plantas del desierto con la humedad en el aire.  -->
        </p>
      </div>
  
    </div>
   
  </section>
