
.title{
    color: red;
}

.navbar-nav {
    gap: 200px;
}
.img-fluid{
    width: 50px;
}
#stack{
    gap: 10px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap:0
}