nav{
    background-color:#f8d34f;
    
}
.navbar-nav {
    display: flex;
    /* flex-direction: column; */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    /* gap:10rem */
}
.navbar-brand{
    margin-left: 10%;
    color: #FA34DF;
    
}
a{
    color: #FA34DF;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
[role]{
    border-radius: 0px;
    border: none;
}
button{
    border-radius: 0px;
}

@media screen and (max-width:600px) {
    .navbar-nav {
        gap: 0;
    }
    
}
@media screen and (min-width:600px) {
    .navbar-nav {
        gap: 6rem;
    }
    
}