<section title="Stack" class="container-fluid">
    <div  id='stack'class="d-flex flex-row justify-content-center align-items-center ">
  
        <img src="../../../assets/icons/css-3.png" class="img-fluid"  alt="image">
        <img src="../../../assets/icons/html-5.png" class="img-fluid" alt="image">
        <img src="../../../assets/icons/expressjs.png" class="img-fluid" alt="image">
        <img src="../../../assets/icons/node-js.png" class="img-fluid" alt="image">
        <img src="../../../assets/icons/react.png" class="img-fluid" alt="image">
        <img src="../../../assets/icons/js.png" class="img-fluid" alt="image">  
    </div>
  
  
  </section>
