<section title="education">
    <div class="container">
        <div class="row">
            <div class="bg-white rounded shadow-sm py-5 px-4 container-info">
                <img 
                src="..." 
                alt="logo-education" 
                width="100"
                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" 
                >
                <h5 class="mb-0">
                    Soy Henry
                </h5>
                <span class="small text-uppercase text-muted">
                    2021-2022
                </span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="#" class="social-link">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="bg-white rounded shadow-sm py-5 px-4 container-info">
                <img 
                src="..." 
                alt="logo-education" 
                width="100"
                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" 
                >
                <h5 class="mb-0">
                    Soy Henry
                </h5>
                <span class="small text-uppercase text-muted">
                    2021-2022
                </span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="#" class="social-link">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-link">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-link">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>
