<section title="Contacto" class="container">
    <form class="was-validated" id='Contact'>
      <div class="mb-3 pb-1">
        <div class="form-outline">
          <label for="validationEmail" class="form-label">Email</label>
          <input class="form-control is-valid" id="validationEmail" placeholder="Required email" required/>
          <div class="invalid-feedback">Please enter your email</div>
        </div>
      </div>
        <div class="form-outline">
          <label for="validationTextarea" class="form-label">Mensaje</label>
          <textarea class="form-control is-valid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
          <div class="invalid-feedback">Please enter a message in the textarea.</div>
        </div>
      <!-- </div> -->
       <div class="mb-3">
        <button class="btn btn-primary" type="submit" disabled>Submit form</button>
      </div>
    </form>
    
      
</section>
