section{
    background-color: #f8d34f;
    border-radius: 60px;
    padding: 50px 50px 50px;
    margin: 8rem 0 8rem;
}
form{
    color: #fa34e0bb;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.btn-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 80%;
    background-color: #FA34DF;
    border: solid 0.2rem #b7fadfb5;
    border-radius: 10px;
    padding: 0.5rem;
    color: #f8d34f;
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    box-shadow: 0px 10px 20px 0px rgb(183 250 223);
    transition: 1000ms;
}
button:hover, button:focus {
    background: #B7FADF;
    text-decoration: none;
    color: #fa34e0b6;
    border: solid 0.2rem #fa34e0b6;
    box-shadow: inset 0px 1px 11px 2px rgb(233 10 203);
    /* border-radius: 10px; */
}
